.breadcrumb-container {
  height: 56px;
  background-color: $color-light-grey-3;
  display: flex;
  align-items: center;

  .breadcrumb {
    border-radius: 0;
    background: none;
    margin-bottom: 0;

    &__item {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-#{$right}: 30px;
        position: relative;

        &::after {
          @include addIcon($icon-left-arrow, 10px);
          #{$right}: -18px;
          top: 5px;
          color: #000;
          position: absolute;
        }
      }

      &:last-child {
        .breadcrumb__link::after {
          display: none;
        }
      }
    }

    &__link {
      color: #000;
      font-size: rem(14);
      text-decoration: none;
    }

    &--mb-0 {
      margin-bottom: 0;
    }
  }
}
