.swiper-container {
  width: 100%;
  height: 100%;
}

.header {
  .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    //   display: -webkit-box;
    //   display: -ms-flexbox;
    //   display: -webkit-flex;
    //   display: flex;
    //   -webkit-box-pack: center;
    //   -ms-flex-pack: center;
    //   -webkit-justify-content: center;
    //   justify-content: center;
    //   -webkit-box-align: center;
    //   -ms-flex-align: center;
    //   -webkit-align-items: center;
    //   align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-container {
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: $primary-color;
    color: $color-white;
    width: 60px;
    height: 100px;
    top: 25%;

    &::after {
      font-size: rem(18);
    }
  }

  .swiper-button-next {
    #{$right}: 0 !important;
    border-top-#{$left}-radius: 6px;
    border-bottom-#{$left}-radius: 6px;
  }

  .swiper-button-prev {
    #{$left}: 0 !important;
    border-top-#{$right}-radius: 6px;
    border-bottom-#{$right}-radius: 6px;
  }

  .swiper-pagination {
    top: 65%;

    span {
      width: 20px;
      height: 10px;
      background-color: #8b7c80;
      display: inline-block;
      border-radius: 50px;
      margin-#{$left}: 14.5px !important;
    }

    .swiper-pagination-bullet-active {
      background-color: $primary-color;
    }
    
    @media screen and(max-height: 991px) {
      top: 60%;
    }
  }
  
}

// GENERAL STYLE
.swiper-slide {
  @extend .utl-card-hover;
}

//  CONTROLS
.program {
  &__controls {
    position: relative;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;

    .swiper-button-next,
    .swiper-button-prev {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: $primary-color;

      &::after {
        font-size: rem(18);
        color: $color-white;
      }
    }

    .swiper-button-disabled {
      border: 1px solid $primary-color;
      background-color: $color-white;
      opacity: 1;

      &::after {
        color: $primary-color;
      }
    }
  }
}

.statistics {
  &__controls {
    position: relative;
    height: 50px;
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: center;

    .swiper-button-next,
    .swiper-button-prev {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: $primary-color;

      &::after {
        font-size: rem(18);
        color: $color-white;
      }
    }

    .swiper-button-disabled {
      border: 1px solid $primary-color;
      background-color: $color-white;
      opacity: 1;

      &::after {
        color: $primary-color;
      }
    }
  }
}

.activities {
  &__controls {
    position: relative;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;

    .swiper-button-next,
    .swiper-button-prev {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: $primary-color;

      &::after {
        font-size: rem(18);
        color: $color-white;
      }
    }

    .swiper-button-disabled {
      border: 1px solid $primary-color;
      background-color: $color-white;
      opacity: 1;

      &::after {
        color: $primary-color;
      }
    }
  }
}

.testimonial {
  &__controls {
    position: relative;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;

    .swiper-button-next,
    .swiper-button-prev {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: $primary-color;

      &::after {
        font-size: rem(18);
        color: $color-white;
      }
    }

    .swiper-button-disabled {
      border: 1px solid $primary-color;
      background-color: $color-white;
      opacity: 1;

      &::after {
        color: $primary-color;
      }
    }
  }
}

.twitter-widget {
  &__controls {
    position: relative;
    height: 50px;
    margin-#{$left}: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .swiper-button-next,
    .swiper-button-prev {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: $color-white;
      position: static;

      &::after {
        font-size: rem(18);
        color: $primary-color;
      }
    }

    .swiper-button-next {
      margin-#{$left}: auto;
      margin-#{$right}: 20px;
    }

    .swiper-button-disabled {
      border: 1px solid $primary-color;
      background-color: $color-white;
      opacity: 1;

      &::after {
        color: $primary-color;
      }
    }
  }
  .swiper-pagination {
    position: static;

    span {
      width: 20px;
      height: 10px;
      background-color: #8b7c80;
      display: inline-block;
      border-radius: 50px;
      margin-#{$left}: 14.5px !important;
    }

    .swiper-pagination-bullet-active {
      background-color: $color-white;
    }
  }
}

.media-center {
  &__controls {
    position: relative;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;

    .swiper-button-next,
    .swiper-button-prev {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: $primary-color;

      &::after {
        font-size: rem(18);
        color: $color-white;
      }
    }

    .swiper-button-disabled {
      border: 1px solid $primary-color;
      background-color: $color-white;
      opacity: 1;

      &::after {
        color: $primary-color;
      }
    }
  }
}
