html,
body {
	direction: #{$direction};
	text-align: #{$left};
	box-sizing: border-box;
	font-family: Almarai;
	color: $color-white;
	font-size: 14px!important;

}

// ::selection {
// 	background: $selection-color;
// 	color: #fff;
// }

// /* Safari */

// ::-moz-selection {
// 	background: $selection-color;
// 	color: #fff;
// }

// /* Firefox */

// :-moz-placeholder,
// .form-control::-moz-placeholder {
// 	color: $input-placeholder-color;
// }

// ::-webkit-input-placeholder,
// .form-control::-webkit-input-placeholder {
// 	color: $input-placeholder-color;
// }

// :-ms-input-placeholder,
// .form-control::-ms-input-placeholder {
// 	color: $input-placeholder-color;
// }

// /**
//  * Basic styles for links
//  */
// a {
// 	color: $brand-color;
// 	text-decoration: none;

// 	@include on-event {
// 		color: $text-color;
// 		text-decoration: underline;
// 	}
// }

// p {
// 	&:last-child {
// 		margin-bottom: 0;
// 	}
// }

// // ScrollBar

// // /* width */
// ::-webkit-scrollbar {
// 	width: 7px;
// 	height: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
// 	border: #eee 1px solid;
// 	background-color: #ffffff;
// 	border-radius: 24px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
// 	background: $brand-color;
// 	border-radius: 50px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
// 	background: blue-overlay;
// }