html,
body {
	direction: #{$direction};
	text-align: #{$left};
	box-sizing: border-box;
	font-family: $font-regular;
	color: $color-white;
	font-size: 14px!important;
	overflow-x: hidden;

}

html {
	scroll-behavior: smooth;
}
