.statistics {
  position: absolute;
  width: 100%;
  bottom: -150px;
  //   margin-bottom: 150px; // test

  &__cards {
  }

  &__card {
    text-align: center;
    color: $color-dark;
    box-shadow: 5px 10px 30px rgba(28, 27, 25, 0.2);
    border-radius: 6px;
    background-color: $color-white;
    padding: 55px;

    &__image {
      margin-bottom: 10px;
    }

    &__count {
      font-size: rem(26);
      font-family: $font-bold;
    }

    &__label {
    }
  }

  &__controls {
    position: relative;
    height: 50px;
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: center;

    .swiper-button-next,
    .swiper-button-prev {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: $primary-color;

      &::after {
        font-size: rem(18);
        color: $color-white;
      }
    }

    .swiper-button-disabled {
      border: 1px solid $primary-color;
      background-color: $color-white;
      opacity: 1;

      &::after {
        color: $primary-color;
      }
    }
  }
}

.about {
  padding-top: 250px;

  &__image {
      position: relative;

      &__img {
          &--1 {
              padding: 15px;
              border: 1px solid $primary-color;
              border-radius: 50%;

          }

          &--2 {
              position: absolute;
              #{$right}: 0;
              top: 50%;
              transform: translateY(-50%);
          }
      }
  }

  &__buttons {
      margin-top: 50px;

      & > *:not(:last-child) {
          margin-#{$right}: 20px
      }
  }
}
