.statistics {
  position: absolute;
  width: 100%;
  bottom: -150px;

  &__card {
    text-align: center;
    color: $color-dark;
    box-shadow: 1px -5px 20px rgb(28 27 25 / 10%);
    border-radius: 6px;
    background-color: $color-white;
    padding: 55px;

    &__image {
      margin-bottom: 10px;
    }

    &__count {
      font-size: rem(26);
      font-family: $font-bold;
    }
  }
}

.about {
  padding-top: 250px;
  padding-bottom: 120px;

  &__image {
      position: relative;

      &__img {
          &--1 {
              padding: 15px;
              border: 1px solid $primary-color;
              border-radius: 50%;

          }

          &--2 {
              position: absolute;
              #{$right}: 0;
              top: 50%;
              transform: translateY(-50%);
          }
      }
  }

  &__buttons {
      margin-top: 50px;

      & > *:not(:last-child) {
          margin-#{$right}: 20px
      }
  }
}


.program {
    &__label {
        width: 40%;
    }

    &__cards {
        padding-top: 80px;
    }

    &__card {
        text-align: center;

        &__image {
            width: 120px;
            height: 120px;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 50%;
            border: 1px solid $primary-color;
            cursor: pointer;

            &:hover {
                // background-color: $primary-color;
                fill: #fff;
            }
        }

        &__label {

        }
    }

    &__show-all {
        padding-top: 50px;
        text-align: #{$right};
    }
}

.electronic-reading {
    padding-top: 120px;
    &__wrapper {
        height: 500px;
        background-image: url(../img/electronic-reading.png);
        margin-#{$left}: auto;
        position: relative;
        #{$right}: -15px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__content {
        width: 42%;
        margin: 0 auto;


        & > [class^="heading"] {
            color: $color-white;
        }
    }

    &__image {
        position: absolute;
        top: 50%;
        #{$left}: -20%;
        transform: translateY(-50%);
    }
}


.news {
    padding-top: 120px;
}