.statistics {
  position: absolute;
  width: 100%;
  bottom: -150px;

  &__card {
    text-align: center;
    color: $color-dark;
    box-shadow: 1px -5px 20px rgb(28 27 25 / 10%);
    border-radius: 6px;
    background-color: $color-white;
    padding: 55px;

    &__image {
      margin-bottom: 10px;
    }

    &__count {
      font-size: rem(26);
      font-family: $font-bold;
    }
  }
}

.about {
  padding-top: 250px;
  padding-bottom: 120px;

  &__image {
    position: relative;

    &__img {
      &--1 {
        padding: 15px;
        border: 1px solid $primary-color;
        border-radius: 50%;
      }

      &--2 {
        position: absolute;
        #{$right}: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__buttons {
    margin-top: 50px;

    & > *:not(:last-child) {
      margin-#{$right}: 20px;
    }
  }
}

.program {
  &__label {
    width: 40%;
  }

  &__cards {
    padding-top: 80px;
  }

  &__card {
    text-align: center;

    &__image {
      width: 120px;
      height: 120px;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 50%;
      border: 1px solid $primary-color;
      cursor: pointer;

      &:hover {
        // background-color: $primary-color;
        fill: #fff;
      }
    }

    &__label {
    }
  }

  &__show-all {
    padding-top: 50px;
    text-align: #{$right};
  }
}

.electronic-reading {
  padding-top: 120px;
  &__wrapper {
    height: 500px;
    background-image: url(../img/electronic-reading.png);
    margin-#{$left}: auto;
    position: relative;
    #{$right}: -15px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__content {
    width: 42%;
    margin: 0 auto;

    & > [class^="heading"] {
      color: $color-white;
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    #{$left}: -20%;
    transform: translateY(-50%);
  }
}

.news {
  padding-top: 120px;
}

.digital-library {
  margin-top: 120px;
  padding-top: 100px;
  height: 600px;
  background-image: url(../img/digital-library.png);
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    width: 40%;
    margin: 0 auto;

    .heading-1 {
      color: $color-white;
    }
  }

  &__buttons {
    text-align: #{$right};
    .btn:not(:last-child) {
      margin-#{$right}: 10px;
    }
  }
}

.media-center {
  padding-top: 120px;

  &__tabs {
    &__items {
      border-bottom: 1px solid $primary-color;
      margin-bottom: 30px;
    }

    &__item {
      &__link {
        font-size: rem(14);
        font-family: $font-bold;
        color: $color-grey;

        &.active {
          padding: 10px 30px;
          background-color: $primary-color;
          color: $color-white;
          border-radius: 6px 6px 0px 0px;
        }
        &:hover {
          color: $color-dark;
        }
      }
    }
  }

  &__grid-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
  }

  &__grid-item {
      width: 100%;
      height: 100%;
    &--2 {
      grid-row-start: 1;
      grid-row-end: span 2;
      grid-column-start: 2;
    }
  }
}

.activities {
  margin-top: 120px;
  padding-top: 120px;
  height: 475px;
  background-image: url(../img/activities.png);
  background-repeat: no-repeat;
  background-size: cover;

  &__card {
    padding: 30px;
  }

  &__content {
    .heading-1 {
      color: $color-white;
    }
  }
}

.testimonial {
  padding-top: 350px; // testing

  &__card {
    box-shadow: 1px -5px 20px rgb(28 27 25 / 10%);
    padding: 30px;

    &__user {
      display: flex;
      align-items: center;
      margin-top: 30px;

      &__data {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-radius: 45px;
        background-color: $color-light-grey-1;
      }

      &__rate {
        color: #ffc107;
        .icon {
          font-size: rem(18);

          &:not(:last-child) {
            margin-#{$left}: 5px;
          }
        }
      }
    }
  }
}

.mobile-app {
  padding-top: 120px;
  &__main-image {
    width: 400px;
  }

  &__link {
    &:not(:last-child) {
      margin-#{$right}: 20px;
    }
  }

  &__store {
    margin-top: 50px;
  }
}

.fast-links {
  padding-top: 120px;

  &__card {
    padding: 30px;
    border-radius: 6px;
    box-shadow: 1px -5px 20px rgb(28 27 25 / 10%);
    margin-bottom: 30px;
    cursor: pointer;

    &__image-container {
      width: 80px;
      height: 80px;
      padding: 22px;
      border-radius: 50%;
      border: 1px solid $primary-color;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__info {
      display: flex;
      align-items: center;
    }

    &__content {
      margin-#{$left}: 30px;
    }
  }
}

.twitter-widget {
  padding-top: 120px;
  background-image: url(../img/twitter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;

  &__card {
    padding: 40px;
    border-radius: 50px 10px 50px 50px;
    background-color: $color-white;
  }
}

.footer {
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;

  &__info {
    margin-#{$left}: 40px;

    & > [class^="heading"] {
      color: $color-white;
      margin-bottom: 20px;
    }

    .heading-3 {
      color: $color-grey;
    }
  }

  &__list {
    &__item {
      margin-bottom: 20px;

      &__link {
        color: $color-white;
      }
    }
  }

  &__copy-rights {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 2px dashed #313131;
    text-align: center;
  }
}
