@import "./variables";

// COLORS
// $theme-colors: (
//   "primary": #BF9F35,
//   "secondary": #1C1B19,
// );

// BORDER RADIUS
// $border-radius: 30px;
// $btn-padding-y-lg: 100px;
// $btn-padding-y: 20px;

// CONTAINER
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  //   xxl: 1650px
);

// BREAKPOINTS
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  //   xxl: 1500px
);

// //  FONT FAMILY
$font-family-base: Almarai!important;


@import "../../../node_modules/bootstrap/scss/bootstrap";
