// COLORS
$primary-color: #BF9F35;
$secondary-color: #292826;
$color-grey: #858380;
$color-light-grey: #707070;
$color-light-grey-1: #F8F8F8;
$color-white: #fff;
$color-light: #DBDBDB;
$color-dark: #1C1B19;

// SPACING
$section-gap: 120px;


// FONTS
$font-regular: Almarai;
$font-bold: Almarai-bold;
$font-extra-bold: Almarai-extra-bold;
$font-light: Almarai-light;