.footer {
	background-image: url(../img/footer.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px 0;

	&__company-info {
		display: flex;
	}

	&__info {
	  margin-#{$left}: 40px;
  
	  & > [class^="heading"] {
		color: $color-white;
		margin-bottom: 20px;
	  }
  
	  .heading-3 {
		color: $color-grey;
	  }
	}
  
	&__list {
	  &__item {
		margin-bottom: 20px;
  
		&__link {
		  color: $color-white;
		  @extend .utl-hover-primary;
		}
	  }
	}
  
	&__copy-rights {
	  padding-top: 40px;
	  margin-top: 40px;
	  border-top: 2px dashed #313131;
	  text-align: center;
	}

	@include media-breakpoint-down(md) { 
		&__company-info {
			margin-bottom: 30px;
			align-items: center;
		}

		&__logo {
			height: 150px;
		}
	   }
  }