.header {
  &__top-nav {
    background-color: $secondary-color;
    height: 60px;
    display: flex;
    align-items: center;
  }

  &__account {
    margin-#{$right}: auto;
    margin-#{$left}: 25px;

    &__change-lang {
      .icon {
        margin-#{$left}: 5.2px;
      }
    }
  }

  &__social-links {
    display: flex;
    align-items: center;

    .icon {
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $primary-color;
      color: $primary-color;
      border-radius: 50%;
      font-size: rem(9);
    }

    &__item {
      &:not(:last-child) {
        .icon {
          margin-#{$right}: 15px;
        }
      }
    }
  }

  &__current-date {
    text-align: #{$right};
  }
}
