.header {
  &__top-nav {
    background-color: $secondary-color;
    height: 60px;
    display: flex;
    align-items: center;

    &__account {
      margin-#{$right}: auto;
      margin-#{$left}: 25px;
  
      &__change-lang {
        .icon {
          margin-#{$left}: 5.2px;
          font-size: rem(7);
        }
      }
    }
  
    &__current-date {
      text-align: #{$right};
    }
  }

  &__nav {
    background-color: $color-dark;
    color: $color-grey;
    border-top: 1px solid $color-light-grey;
    border-bottom: 1px solid $color-light-grey;
    padding: 25px 0;

    &__logo {
      margin-#{$right}: 40px;
    }

    &__items {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__item {
      &:not(:last-child) {
        margin-#{$right}: 25px;
      }

      &__link {
         &--search {
          font-size: rem(15);
        }
      }
    }

    &__login {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__button {
        margin-#{$left}: auto;
        margin-#{$right}: 40px
      }
    }

  }

  &__main {
    height: calc(100vh - 193px);
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__content {
      width: 35%;
      text-align: center;
      margin: 0 auto;
      padding-top: 100px;

      &__heading {
        font-size: rem(34);
        font-family: $font-bold;
        margin-bottom: 20px;
        line-height: 68px;
      }

      &__heading-1 {
        font-size: rem(16);
        margin-bottom: 40px;
        color: $color-light;
        line-height: 26px;
        padding: 0 60px;
      }
    }
  }
}
