.header {
  &__top-nav {
    background-color: $secondary-color;
    height: 60px;
    display: flex;
    align-items: center;

    &__account {
      margin-#{$right}: auto;
      margin-#{$left}: 25px;

      &__change-lang {
        .icon {
          margin-#{$left}: 5.2px;
          font-size: rem(7);
        }
      }

      &__change-lang__image {
        display: block;
        width: 50px;
      }
      .dropdown-menu {
        text-align: #{$left};

        .dropdown-item {
          font-family: $font-bold;
        }
      }
    }

    &__current-date {
      text-align: #{$right};
    }
  }

  &__nav {
    background-color: $color-dark;
    color: $color-grey;
    border-top: 1px solid $color-light-grey;
    border-bottom: 1px solid $color-light-grey;
    padding: 25px 0;

    &__logo {
      margin-#{$right}: 40px;
    }

    &__items {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__item {
      &:not(:last-child) {
        margin-#{$right}: 25px;
      }

      &__link {
        &--search {
          font-size: rem(15);
        }
      }
    }

    &__login {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__button {
        margin-#{$left}: auto;
        margin-#{$right}: 40px;
      }
    }

    .dropdown-menu {
      text-align: #{$left};

      .dropdown-item {
        font-family: $font-bold;
        margin-bottom: 15px;
        &:hover {
          color: $primary-color;
        }
      }
    }

    &__search {
      background-color: #fff;
      margin-top: 20px;
      position: relative;
      bottom: -25px;
      display: none;

      &__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        &__input {
          width: 100%;
          height: 100%;
          border: 0;
          &:hover, &:focus-visible {
            outline: 0;
            border: 0;
          }
        }

        &__close-btn {
          position: absolute;
          background-color: #dc4c4c;
          border: 0;
          color: #fff;
          top: -30px;
          right: 100px;
          width: 30px;
          height: 30px;
        }

        &__submit {
          height: 100%;
          background-color: #bf9f35;
          color: #fff;
          border: 0;
          outline: 0;
          padding: 20px;
        }
      }
    }
  }

  &__main {
    height: calc(100vh - 193px);
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__content {
      width: 35%;
      text-align: center;
      margin: 0 auto;
      padding-top: 100px;

      &__heading {
        font-size: rem(34);
        font-family: $font-bold;
        margin-bottom: 20px;
        line-height: 68px;
      }

      &__heading-1 {
        font-size: rem(16);
        margin-bottom: 40px;
        color: $color-light;
        line-height: 26px;
        padding: 0 60px;
      }
    }
  }
}