$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../../assets/fonts" !default;

$icon-left-arrow: "\e908";
$icon-twitter: "\e902";
$icon-facebook: "\e903";
$icon-instagram: "\e904";
$icon-youtube: "\e90c";
$icon-down-arrow: "\e900";
$icon-share: "\e901";
$icon-right-arrow: "\e905";
$icon-calender: "\e906";
$icon-qoute: "\e907";
$icon-search: "\e90a";
$icon-star: "\e90b";

