$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../../assets/fonts" !default;

$icon-user: "\e910";
$icon-menu: "\e911";
$icon-users: "\e914";
$icon-webinar: "\e915";
$icon-graduation: "\e916";
$icon-open-book: "\e917";
$icon-program-4: "\e909";
$icon-program-1: "\e90d";
$icon-program-2: "\e90e";
$icon-program-3: "\e90f";
$icon-left-arrow: "\e908";
$icon-twitter: "\e902";
$icon-facebook: "\e903";
$icon-instagram: "\e904";
$icon-youtube: "\e90c";
$icon-down-arrow: "\e900";
$icon-share: "\e901";
$icon-right-arrow: "\e905";
$icon-calender: "\e906";
$icon-qoute: "\e907";
$icon-search: "\e90a";
$icon-star: "\e90b";

